*,
*::before,
*::after {
    box-sizing: inherit;

    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 100%;

    @media only screen and (max-width: $bp-large) {
        font-size: 85%;
    }
}

body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    overflow: hidden;
}
